# student's t -test
- 1 samle t-test
- 2 sample t-test
    - unparied
    - paired

### one sample t-test

In [119]:
# one sample t-test
import seaborn  as sns
import pandas as pd
from scipy.stats import ttest_1samp
df=sns.load_dataset('taxis')
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [120]:
df.shape

(6433, 14)

In [122]:
df1=df[['distance','payment','fare']]
df1.head()

   distance      payment  fare
0      1.60  credit card   7.0
1      0.79         cash   5.0
2      1.37  credit card   7.5
3      7.70  credit card  27.0
4      2.16  credit card   9.0

In [130]:
df1.describe()

          distance         fare
count  6433.000000  6433.000000
mean      3.024617    13.091073
std       3.827867    11.551804
min       0.000000     1.000000
25%       0.980000     6.500000
50%       1.640000     9.500000
75%       3.210000    15.000000
max      36.700000   150.000000

In [123]:
## lets check the distance and compare with a non value of 45 years
stat,p=ttest_1samp(df1.distance,40)
print(f'stat:{stat} P_value:{p}')
if p>0.05:
    print("Ho accepted")
else:
    print("Ho Not accepted")

stat:-774.7518451098183 P_value:0.0
Ho Not accepted

In [124]:
df_cash=df1.loc[df1.payment=='cash']
df_credit_card=df1.loc[df1.payment=='credit card']

from scipy.stats import ttest_ind
stat,p=ttest_ind(df_cash['distance'],df_credit_card['distance'])
print(f'stat:{stat} P_value:{p}')
if p>0.05:
    print("Ho accepted")
else:
    print("Ho Not accepted")

stat:-6.422948727556128 P_value:1.4328175336467236e-10
Ho Not accepted

In [127]:
df_csh=df_cash.sample(n=100)
df_crd=df_credit_card.sample(n=100)
#print("the number of instanace in first class are to:",df_1st.shape)
print(df_csh.shape,df_crd.shape)

(100, 3) (100, 3)

In [129]:
# import librabry
from scipy.stats import ttest_rel
ttest_rel=(df_cash['distance'],df_crd['distance'])

In [117]:
df_cash.describe()
df_cash.head()

    distance payment  fare
1       0.79    cash   5.0
10      3.90    cash  17.0
13      1.75    cash  10.5
14      2.90    cash  11.5
15      2.09    cash  13.5

In [88]:
df_credit_card.describe()

          distance         fare
count  4577.000000  4577.000000
mean      3.221842    13.694750
std       3.942452    11.599355
min       0.000000     2.500000
25%       1.000000     6.500000
50%       1.730000     9.500000
75%       3.480000    15.500000
max      36.660000   120.000000

In [113]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [116]:
df_cash1=df_cash.loc[df_cash.p=='Manhattan']
df_cas2h=df_cash.loc[df_cash['pickup_borough']=='Brooklyn']
df_cash3=df_cash.loc[df_cash['pickup_borough']=='Queenns']

KeyError: 'pickup_borough'

In [61]:
# select only two classes
df__first=df_male.loc[df_male['class']=='First']
df_male_second=df_male.loc[df_male['class']=='Sirst']
df_male_third=df_male.loc[df_male['class']=='Third']

In [107]:
import random

df_csh=df_cash.sample(n=100)
df_crd=df_credit_card.sample(n=100)
#print("the number of instanace in first class are to:",df_1st.shape)
print(df_csh.shape,df_crd.shape)

(100, 3) (100, 3)

In [118]:
# import librabry
from scipy.stats import ttest_rel
ttest_rel=(df_cash['cash'],df_credit_card['credit card'])
# if p> 0.05:
#     print("Ho accepted")
# else:
#     print("Ho Not accepted")

KeyError: 'cash'

In [76]:
test=sns.load_dataset('taxis')

In [77]:
test.shape

(6433, 14)